<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <%
        var title = page.title;
        if (is_archive()) {
            title = __('index.archive');
            if (is_month()) {
                title += ': ' + page.year + '/' + page.month;
            } else if (is_year()) {
                title += ': ' + page.year;
            }
        } else if (is_category()) {
            title = __('index.category') + ': ' + page.category;
        } else if (is_tag()) {
            title = __('index.tag') + ': ' + page.tag;
        }
    %>
    <title><% if (title) { %><%= title %> | <% } %><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <% if (page.tags) {
        var keywords = [];
        for (var i in page.tags.data) {
            keywords.push(page.tags.data[i].name);
        }
    %>
        <meta name="keywords" content="<%= keywords.join(',') %>" />
    <% } %>
    <%- open_graph({
        image:          thumbnail(page),
        fb_app_id:      theme.miscellaneous.open_graph.fb_app_id,
        fb_admins:      theme.miscellaneous.open_graph.fb_admins,
        twitter_id:     theme.miscellaneous.open_graph.twitter_id,
        google_plus:    theme.miscellaneous.open_graph.google_plus,
    }) %>
    <%- meta(page) %>

    <% if (theme.customize && theme.customize.social_links && theme.customize.social_links.rss) { %>
        <link rel="alternate" href="<%- theme.customize.social_links.rss %>" title="<%= config.title %>" type="application/atom+xml" />
    <% } %>

    <% if (theme.customize.favicon) { %>
        <link rel="shortcut icon" href="<%- url_for(theme.customize.favicon) %>" />
        <link rel="icon" href="<%- url_for(theme.customize.favicon) %>" />
        <link rel="icon" type="image/png" sizes="16x16" href="/media/logo/favicon-16x16.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/media/logo/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="96x96" href="/media/logo/favicon-96x96.png" />
        <link rel="icon" type="image/png" sizes="230x230" href="/media/logo/favicon-230x230.png" />

        <link rel="apple-touch-icon" sizes="114x114" href="/media/logo/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/media/logo/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/media/logo/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/media/logo/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/media/logo/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="57x57" href="/media/logo/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/media/logo/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/media/logo/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/media/logo/apple-touch-icon-76x76.png">

    <% } %>

    <% if (is_post() && config.generator_amp){ %>
        <link rel="amphtml" href="<%= config.url %><%= config.root %><%= page.path %>/amp/index.html">
    <% } %>

    <%- css('libs/font-awesome/css/font-awesome.min') %>
    <%- css('libs/titillium-web/styles') %>
    <%- css('libs/source-code-pro/styles') %>

    <%- css('css/style') %>

    <%- js('libs/jquery/2.0.3/jquery.min') %>
    <%- partial('plugin/scripts', { isHead: true }) %>
</head>
